tictactoe.pdb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/learning/v17/.suo
.vs/learning/v17/Browse.VC.db
.vs/learning/v17/Browse.VC.db-shm
.vs/learning/v17/Browse.VC.db-wal
.vs/learning/v17/Browse.VC.opendb
.vs/learning/v17/ipch/AutoPCH/c8d6cfe2e5251328/TICTACTOE.ipch
.vs/learning/v17/ipch/AutoPCH/f1aab2e346ff5ab6/TICTACTOE.ipch
tictactoe.ilk
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/tasks.json
bank.pdb
.vs/learning/v17/ipch/AutoPCH/a58d3834a958de00/BANK.ipch
.vs/learning/v17/TestStore/0/000.testlog
.vs/learning/v17/TestStore/0/testlog.manifest
.vscode/settings.json
NewFile
.vs/CMakeWorkspaceSettings.json
.vs/learning/v17/ipch/AutoPCH/c428c101c40d5d80/LINKEDINLEARNINGCPPCOURSES.ipch
.vs/learning/v17/ipch/AutoPCH/fcdd5f509bdf5bf/BANK.ipch
